    * {
        font-family: Arial, Helvetica, sans-serif;         
        font-weight: bold;
        
    }

    body {
        background-image: url("./images/body_back.jpg");
        background-size: calc(120%);
    }

    fieldset {
        width: 700px;
        height: 200px;
        margin: auto;
        padding: 30px;
        background-color: rgba(71, 195, 90, 0.3);
        border-radius: 20px;
    }

    fieldset:first-child {
        height: auto;
    }

    form, section {
        width: calc(72%);
        text-align: right;
        line-height: 30px;
    }

    h1, h2 {
        text-align: center;
        color: rgb(71, 195, 90);
    }

    fieldset:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    
    table {
        display: flex;
        flex-direction: column;
        height: 150px;
        overflow: auto;
    }

    table, td {
        border-collapse: collapse;
        margin: auto;        
    }

    td {
        border: 2px solid black;
        padding: 5px 10px;
        width: 70px;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: rgb(103, 196, 127);        
    }
    
    tr:nth-child(odd) {
        background-color: rgb(150, 203, 147);        
    }


    label ~ input {
        margin-left: calc(30px);
    }

    div ~ div {
        margin-top: 20px;
    }


